.wrapper {
  width: 100%;
  font-size: 1rem;
}

.header {
  display: flex;
  height: 1rem;
  width: 100%;

  h6 {
    font-size: 0.7rem;
  }
}
.label {
  text-transform: uppercase;
}

.select {
  height: 2rem;
  width: 100%;
}

.option {
  padding: 0.1rem 0.35rem;
  margin: 0 0.25rem 0 0.25rem;
}

.select:focus {
  outline: none;
}
