.card {
  width: 100%;
  padding: 0.25rem 1rem;
  margin: 0 0.15rem 0.15rem 0;
  border: thin solid;

  display: flex;

  > p {
    width: 8rem;
  }
}

.card:hover {
  cursor: pointer;
  transform: translateX(4px);
}

.form {
  margin: 0 0.15rem 0.15rem 0;
}
