.form {
  display: grid;
  grid-template:
    'header' auto
    'bodyTitle' auto
    'body' auto
    'Buttons' 4rem / 1fr;
  gap: 2rem;
}

//

.form > header {
  padding: 1rem;
  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;

  display: grid;
  grid-template: 'input inputs button' 1fr / 1fr 1fr 10rem;
  gap: 2rem;
  align-items: center;

  > button {
    margin: 0 auto;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
  }
}

//

.form > div {
  height: 100%;
  background: rgba(112, 128, 144, 0.03);

  display: grid;
  grid-template:
    'para1 para2' 1fr
    'para3 para4' 1fr / 1fr 1fr;
  gap: 2rem;
}

//

.form > footer {
  margin-top: 1rem;

  button {
    padding: 1rem;
    height: 4rem;

    border: thin solid;
    text-transform: uppercase;
  }
}
