.slide {
  height: 100%;
  width: 100%;

  border: thin solid;

  display: flex;
  align-items: center;
  justify-content: center;
}

.slide > * {
  height: 100%;
  width: 100%;
  max-height: 800px;
  max-width: 1200px;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 96%;
  }
}
