.wrapper {
  height: 3rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  height: 1rem;
  width: 100%;

  h6 {
    font-size: 0.7rem;
  }
}

.label {
  text-transform: uppercase;
}

.input {
  color: currentColor;
  height: 2rem;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

.input::placeholder {
  opacity: 0.5;
}

.input:focus {
  border: thin solid currentColor;
  outline: thin solid transparent;
}
