$mr: 1rem;
.menu_item {
  position: relative;
  height: 100%;

  margin-right: $mr;
  padding: 0 0.5rem;

  display: flex;
  align-items: center;

  border: thin solid purple;
}

//login wrapper
$width: 15rem;
.absolute {
  position: absolute;
  top: 100%;
  height: min-content;
  width: $width;

  transition: 0.3s ease;

  //init
  right: -$mr - $width;
}

.absolute_open {
  right: 0;
}
