.timeline {
  position: relative;

  height: 9rem;
  width: 100%;

  display: grid;
  grid-template: 'substract view addition' 1fr / 3rem 1fr 3rem;
  gap: 1rem;

  > :nth-child(1) {
    grid-area: substract;
  }
  > :nth-child(2) {
    grid-area: view;
  }
  > :nth-child(3) {
    grid-area: addition;
  }
}

.timeline > div {
  position: relative;
  height: 100%;
  width: 100%;

  overflow: hidden;

  box-shadow: 0 0 2rem -1rem black;
}

.timeline button {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}
