.row_jobs {
  position: relative;
  width: 100%;
}
.row_education {
  position: relative;
  width: 100%;
}
.row_extra {
  position: relative;
  width: 100%;
}

.post {
  position: absolute;
  z-index: 1;

  height: 3rem;

  // box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);

  overflow: hidden;
  transition: 0.3s ease;

  > button {
    padding-left: 0.35rem;
    font-weight: 500;
    font-size: 0.85rem;
    align-items: flex-start;
    flex-direction: column;

    white-space: nowrap;
  }
}
