.links {
  position: relative;
  height: 100%;
  width: 100%;
}

//#region wrapper
.wrapper {
  position: absolute;
  left: 0;
  width: 100%;

  transition: 0.4s ease;

  display: grid;
  grid-template: 'test git' 1fr / 1fr 1fr;
  gap: 1rem;

  //init
  top: 6rem;
}
.wrapper_active {
  top: 0rem;
}
.wrapper > :nth-child(1) {
  grid-area: test;
}
.wrapper > :nth-child(2) {
  grid-area: git;
}
//#endregion

//#region card
.card {
  height: calc(3rem + 1px);

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);

  display: flex;
}
.icon {
  position: relative;
  height: 3rem;
  width: 3rem;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;

  box-shadow: 0.25rem 0 0.5rem 0 rgba(0, 0, 0, 0.1);

  overflow: hidden;
}
.url_text {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  h6 {
    padding-left: 1rem;
    white-space: nowrap;
  }
}
//#endregion
