.main {
  height: 100%;
  width: 100%;
}

.main {
  display: grid;
  grid-template:
    'puzzle info' 14rem
    'puzzle form' 1fr / 1fr 1fr;
  gap: 2rem;

  > :nth-child(1) {
    grid-area: info;
  }
  > :nth-child(2) {
    grid-area: puzzle;
  }
  > :nth-child(3) {
    grid-area: form;
  }
}

.main > * {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
  padding: 2rem;
}
