.fixed {
  position: fixed;
  z-index: 101;

  top: 0;
  right: -32rem;

  height: 100vh;
  width: 100%;
  max-width: 32rem;

  transition: 0.3s ease;

  border-top: none !important;
  border-right: none !important;
  border-bottom: none !important;
}

.inner {
  position: relative;
  height: 100%;
  width: 100%;
}

.open {
  right: 0;
}

@media screen and (max-width: 932px) {
  .fixed {
    width: 100vw;
    max-width: 100vw;
  }
}
