.wrapper {
  position: relative;
}

.card {
  padding: 0.25rem;
}

.title_and_version {
  display: grid;
  grid-template: 'title version' 1fr / 2fr 1fr;
  gap: 0.5rem;
  > div {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.subtasks_button {
  width: 100%;

  color: currentColor;
  background: transparent;
  border: thin solid transparent;

  display: flex;
}

.subtasks_wrapper {
  padding: 0.25rem;
}

.delete_button {
  position: absolute;
  z-index: 10;
  top: 0.5rem;
  right: 0.5rem;

  height: 1rem;
  width: 1rem;

  border-color: currentColor !important;
  color: red;
}

//elements
.wrapper input {
  font-size: 0.9rem;
}
