.fixed {
  position: fixed;
  z-index: 1000;

  height: 100vh;
  width: 100vw;

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  position: relative;
  height: 100vh;
  width: 100vw;

  background: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20rem -5rem rgb(0, 0, 0);

  display: grid;
  grid-template:
    'close close b' 10vh
    'c view d' 80vh
    'e text f' 10vh / 10vw 80vw 10vw;
}

.click {
  grid-area: close;
  padding: 1rem;
}

.img {
  grid-area: view;
  border: thin dashed red;
}

.img_text {
  grid-area: text;
  border: thin solid;

  display: flex;
  flex-direction: column;
  align-items: center;

  .tags {
    display: flex;
  }
}
