.wrapper {
  position: relative;
  height: 100%;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

.wrapper input {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  opacity: 0;

  overflow: hidden;
}
