.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.list h4 {
  margin-bottom: 2rem;
  border-bottom: thin dotted;
}

.item {
  padding: 0;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: flex-end;

  > button {
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0 0 1rem;

    justify-content: flex-start;

    > div {
      display: flex;
      align-items: flex-end;
      > h5 {
        padding-bottom: 0.15rem;
        margin-right: 0.5rem;
      }
    }
  }
}
