.score_card {
  height: 1.2rem;
  width: 100%;

  display: grid;
  align-items: center;
  grid-template: 'icon title score' 1fr / 2rem 5rem 1fr;

  margin-bottom: 0.25rem;

  .icon {
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;

    display: flex;
    align-items: center;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  > h6 {
    font-size: 0.8rem;
  }

  > div {
    height: 0.5rem;

    > div {
      height: 100%;
      background: currentColor;
      opacity: 0.3;
    }
  }
}

.score_card h5 {
  height: 1rem;
  width: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.7;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25%;
}
