.list {
  display: flex;
  flex-wrap: wrap;

  transition: 0.3s ease;
}

.item_wrapper {
  position: relative;
  height: 20rem;
  width: 15rem;

  margin: 0 1rem 1rem 0;
}

.item {
  height: 100%;
  width: 100%;

  padding: 0.75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}

.item > header > :nth-child(1) {
  font-size: 1.2rem;
  height: 3.5rem;
  line-height: 1.5rem;
}
