.wrapper {
  width: 100%;
  margin-bottom: 0.5rem;
}

.header {
  display: flex;
  height: 1rem;
  width: 100%;

  h6 {
    font-size: 0.7rem;
  }
}

.label {
  text-transform: uppercase;
}

.textarea {
  color: currentColor;
  width: 100%;
  padding: 0.25rem 0.5rem;
  resize: vertical;
}

.textarea::placeholder {
  opacity: 0.5;
}

.textarea:focus {
  border: thin solid currentColor;
  outline: thin solid transparent;
}
