.list {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  transition: 0.3s ease;
}

.item_wrapper {
  position: relative;
  margin: 0 0.5rem 0.5rem 0;
}
.item {
  height: 12rem;
  width: 20rem;

  padding: 0.75rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.item h5,
.item h6 {
  white-space: nowrap;
}
.item h6 {
  margin-right: 0.5rem;
}
.item i {
  opacity: 0.5;
}
.descr {
  white-space: normal !important;
}

.delete_button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;

  height: 1.5rem;
  width: 1.5rem;

  font-size: 1.25rem;

  border-radius: 0.25rem;
}
