.main {
  position: relative;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template:
    'profile detail' 1fr
    'timeline timeline' auto / 4fr 3fr;
  gap: 2rem;

  > :nth-child(1) {
    grid-area: profile;
  }
  > :nth-child(2) {
    grid-area: detail;
  }
  > :nth-child(3) {
    grid-area: timeline;
  }
}

//#region   Details
.details {
  position: relative;
  height: 100%;
  width: 100%;

  padding: 2rem;

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  height: min-content;
  width: 100%;

  margin-bottom: 1.5rem;

  h4 {
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }
}
.header::after {
  position: absolute;
  opacity: 0.3;
  height: 1px;
  width: 100%;
  content: ' ';
  border-bottom: thin solid currentColor;
}

.body {
  margin: 1rem 0;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;

  > div {
    display: flex;
    align-items: flex-end;
    h5 {
      margin-right: 1rem;
    }
  }
}
//#endregion

//#region   Profile-Card

.profile {
  position: relative;
  height: 100%;
  width: 100%;

  padding: 1rem 1.5rem;

  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

.profile header {
  position: relative;
  padding-top: 4rem;
  h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    font-weight: 700;
  }
  h2:nth-of-type(1) {
    z-index: 1;
    opacity: 0.8;
    text-shadow: 1px 1px 1px currentColor, -1px -1px 1px currentColor,
      1px -1px 1px currentColor, -1px 1px 1px currentColor;
  }
  h2:nth-of-type(2) {
    z-index: 2;
    color: white;
  }
}

.profile > div {
  margin-top: 2rem;
}

.paragraph {
  width: 100%;
  border: thin solid;
}

.grid {
  display: grid;
  grid-template: 'a b' 1fr / 1fr 1fr;
  gap: 2rem;
}

//#endregion
