.wrapper {
  position: relative;

  height: 12rem;
  width: 100%;
}

.bg_and_posts {
  position: relative;
  height: 100%;
  width: 100%;

  overflow: hidden;
}

.next_btn,
.prev_btn {
  position: absolute;
  z-index: 100;
  top: calc(50% - 1rem);

  font-size: 1rem;
}
.next_btn {
  left: -0.95rem;
}
.prev_btn {
  right: -0.95rem;
}
