.wrapper {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper form {
  width: 100%;
}
.wrapper h4 {
  margin-bottom: 1rem;
}
.wrapper input {
  margin-bottom: 0.75rem;
}
.wrapper button {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2rem;
  width: 100%;
}

.invalid_button {
  opacity: 0.5;
  pointer-events: none;
}
.valid_button {
  color: green !important;
  background: rgba(0, 128, 0, 0.1) !important;
}
