.paragraph {
  position: relative;
  width: 100%;

  margin-bottom: 0.5rem;
}

.title {
  height: 1.25rem;
  width: 100%;

  text-transform: uppercase;
  letter-spacing: 1px;

  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  margin-bottom: 1rem;
}
.title::before {
  position: absolute;
  top: 1.5rem;
  left: 0;
  content: ' ';
  width: 100%;
  border-bottom: 3px solid currentColor;
  opacity: 0.3;
}

.child_wrapper {
  padding-top: 0.25rem;
  padding-left: 0.25rem;
}
